@import url('https://fonts.cdnfonts.com/css/public-pixel');

body {
  font-family: 'Public Pixel', sans-serif;
}

#toast {
  animation: fadeInOut 2s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}